@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primary-a0: #ffffff;
  --color-primary-a10: #dbe2f2;
  --color-primary-a20: #b8c6e5;
  --color-primary-a30: #93abd8;
  --color-primary-a40: #6d90cb;
  --color-primary-a50: #4177be;
  --color-primary-a60: #375e95;
  --color-primary-a70: #2c476e;
  --color-primary-a80: #213049;
  --color-primary-a90: #151b27;
  --color-primary-a100: #000000;

  --personal-primary: #cad2c5;
  --personal-secondary: #84a98c;
  --personal-tertiary: #52796f;
  --personal-quaternary: #354f52;
  --personal-quinary: #2f3e46;
  --personal-senary: #2b2f33;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
}
